# macOS
.DS_Store

# Windows
Thumbs.db

# Java
*.class
*.jar
/target/

# Apache
.htpasswd

# Eclipse
.classpath
.project
.settings/

# Temporary
~/

# Local test data
/testdata/*.properties
/testdata/anchoko.txt
